* {
  box-sizing: border-box;
}
body {
  background-color: #090A0E;
  color: #ffffff;
}

h1 {
  font-size: 92px;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}

.container {
  background-color: #0F1014;
  padding: 15px;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}


.hero {
  position: relative;
  min-height: 500px;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 70%;
  padding-bottom: 60px;
}

.hero-title {
  font-size: 72px;
  margin: 0;
}

.button {
  background-color: #0F1014;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
}







.movie-cover {
  width: 100%;
}

.movie-placeholder {
  min-height: 359px;
  background-color: white;
  color: #0F1014;
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-center {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.button--close {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 30px;
}